/* -------------------------- Radial button content selector -------------------------  */
.content-selector {
    width:150px;
    height:150px;
    /* positioning */
    position: absolute;
    bottom:0px;
    left: 50%;
    transform: translate(-50%,50%);
    -ms-transform: translate(-50%, 50%);
   
}

.inlay {
    overflow: hidden;
    position: absolute;
    /* size */
    width:100%;
    height:100%;
    /* border */
    border-radius: 50%;
    border:2px solid var(--imperial-blue);
    /* other */
    background-color: var(--ivory-blue);
}

.inlay > img {
    /* size */
    width:70%;
    height:auto;
    /* positioning */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%, -50%);
}

.arc1 {
    top: 0;
    left: 0;
    background-color: transparent;
    border:2px solid var(--imperial-blue);
    border-radius: 100% 0 0 0;
    transform: translate(-33%, -32%);
    -ms-transform: translate(-33%, -32%);
}

.arc1:active {
    transition: none;
    transform: translate(-33%, -32%) scale(0.95);
    -ms-transform: translate(-33%, -32%) scale(0.95);
}

.arc2 {
    top: 0;
    right: 0;
    background-color: transparent;
    border:2px solid var(--imperial-blue);
    border-radius: 0 100% 0 0;
    transform: translate(33%, -32%);
    -ms-transform: translate(33%, -32%);
}

.arc2:active {
    transition:none ;
    transform: translate(33%, -32%) scale(0.95);
    -ms-transform: translate(33%, -32%) scale(0.95);
}

.arctxt {
    font-family: audiowide;
    font-size: 22px;
    position: absolute;
    bottom:0;
    transform: translate(-50%, -50%);
}

#coder-btn-text {
 right:0;
}

#designer-btn-text {
 left:0;
}
/* ---------------------------------- container -------------------------------------*/

#coder-content {
    width:100%;
    height:100%;
}

.info-byte {
    width:80%;
    height:fit-content;
}

.info-byte > h6 {
    font-size: 25px;
}

#main-content, #sub-content {
    font-size: 20px;
    position: absolute;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    top:0;
}


#main-content {
    top:5%;
    left:50%;
}

#sub-content{
    top:83.5%;
    right:-30%;
}

/* ---------------------------------- Skill lists ---------------------------------- */


#front-end, #data-base, #back-end, #full-stack, .skill-list > li > img {
    position: absolute;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%, -50%);
}

.skill-list > li {
    max-width: 50%;
    max-height: 50%;
}

.skill-list > li > img {
    max-width:90%;
    max-height:90%;
}

.skill-list {
    width:100%;
    height:100%;
}

.line {
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%, -50%);
    width:var(--pipe-length);
    height:calc(var(--junction-height)*0.4);
}

/* ----------------------- front-end alignment ------------------------------ */
#front-end {
    top:20%;
    left:50%;
}

.front-end-line {
    display: none;
    top:58%;
    width:calc(var(--pipe-length)*0.95);
    left:calc(var(--pipe-length)*1/2);
    background-color: #f37e71;
}

.css3, .html5, .react, .jquery {
    width:100%;
    height:100%;
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.css3 {
    top:80%;
    left:115%;
}
.html5 {
    top:80%;
    left:72%;
}
.react {
    top:80%;
    left:28.33%;
}
.jquery {
    top:80%;
    left:-15%;
}

/* -------------------------- database alignment ----------------------------- */
#data-base {
    top:42.5%;
    left:50%;
}

/* ----------------------------- back-end alignment --------------------------- */
#back-end {
    top:62.5%;
    left:50%;
}

.back-end-line {
    top:100%;
    left:50%;
    width:80%;
    background-color: #23232d;
    transform: translate(-50%,-50%) rotateZ(90deg);
    -ms-transform: translate(-50%, -50%) rotateZ(90deg);
}

#back-end > img {
    max-width:175px;
}

.node, .nodemailer, .handlebars, .express {
    width:100%;
    height:100%;
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.nodemailer {
    top:25%;
    left:-5%;
}
.express {
    top:75%;
    left:-5%;
}
.handlebars {
    top:20%;
    left:100%;
}
.node {
    top:70%;
    left:105%;
}


/* ----------------------------- Full stack  -------------------------------- */
#full-stack {
    top: 76.5%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%, -50%);
}

#full-stack > h6 {
    display: none;
    font-size:100%;
    padding:0;
    margin:0;
}

#full-stack > img {
    margin-top:-25px;
    width:100px;
    height:auto;
}

#javascript {
    position: absolute;
    top: 0;
    left:100%;
    transform: translate(-50%,-80%);
    -ms-transform: translate(-50%, -80%);
}

#javascript > img {
    max-height:50px;
    max-width: 50px;
}

@media (min-width: 400px) {
    .nodemailer {
        top:20%;
        left:-15%;
    }
}

@media (min-width: 600px) { 
    :root{
        --monitor-width:75px;
        --server-width:125px;
        --pipe-length:31vw;
    }
    .front-end-line{
        display:block;
    }
    #full-stack > h6 {
        display: block;
    }
    .info-byte {
        width:25%;
    }
    .info-byte > h6 {
        font-size: 18px;
    }
    #main-content, #sub-content {
        font-size: 12px;
    }
    #main-content {
        top:2.5%;
        left:15%;
    }
    #sub-content{
        top:2.5%;
        right:-10%;
    }
    #front-end { 
        top:57.5%;
        left:19%;
    }
    #data-base { 
        top:50.8%;
        left:85%;
    }
    #main-pipe {
        left:calc(var(--pipe-length)*-1/2 + var(--server-width)*0.8);
        width:var(--pipe-length);
        /* height:calc(var(--junction-height)*0.4); */
    }
    #full-stack{
        top: 60%;
        left: 50%;
    }
    #full-stack > img { width:80px; }
    #back-end { top:25%; }

    #back-end > img {
        max-width:150px;
    }
}

@media (min-width: 768px) {
    :root{
        --monitor-width:100px;
        --server-width:150px;
    }
    #data-base { top:48.6%; }
    #full-stack{
        top: 60%;
        left: 50%;
    }
    #back-end { top:20%; }
    #full-stack > img {
        width:100px;
    }
}

@media (min-width: 992px) {
    #data-base { top:41.6%; }
    #front-end { top:56.5%; }
    :root {
        --monitor-width:125px;
        --server-width:200px;
    }
    #full-stack > h6 {
        font-size:20px;
    }
}

@media (min-width: 1200px) {

}