:root {
    --button-colour:var(--ivory-blue);
    --hover-colour:	hsl(72, 52%, 39%);
    --button-text:black;
    --disabled-colour: hsl(72, 0%, 44%);
}

button, .anchor-btn, .btn {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    padding:0.5rem;
    font-size: large;
    background-color: var(--button-colour);
    color:var(--button-text);
    border:none;
    border-radius: 5px;
    cursor: pointer;
    object-position: center;
}

button:hover, button:focus, .anchor-btn:hover, .anchor-btn:focus {
    background-color: var(--hover-colour);
}

button:active, .anchor-btn:active {
    transform: scale(0.95);
}

.nude-button {
    padding:0;
    display: block;
    width: fit-content;
    height: auto;
    background-color: transparent;
    transition:all 200ms ease-in-out;
}

.nude-button:hover, .nude-button:focus, .nude-button:active {
    background-color: transparent;
    transform: scale(1.5);
}

.top-right {
    position: absolute;
    top:0.5rem;
    right:0.5rem;
}

.top-left {
    position: absolute;
    top:0.5rem;
    left:0.5rem;
}

.zero {
    padding:0 !important;
    margin:0 !important;
}


/* --------------- custom button properties ----------------------- */
#add-to-list-btn {
    margin-left: 10px;
    margin-bottom: 13px;
}

.disabled {
    background-color: var(--disabled-colour);
}

.disabled:hover, .disabled:focus, .disabled:hover, .disabled:focus {
    background-color: var(--disabled-colour);
}

.disabled:active, .disabled:active {
    transform: none;
}