/* recipedia */
.recipedia > .thumbnail-image {
    background-image: url("../images/choppingboard-chilli.jpg");
}

.recipedia > .logo-container {
    /* background-color: hsla(72, 52%, 44%,0.85); */
}

/* burger lyfe */
.burger-lyfe > .thumbnail-image {
    background-image: linear-gradient(315deg,hsl(210,50%,35%),#0080ff);
}

/* guist */
.guist > .thumbnail-image {
    background-image: url('../images/game-controller.jpg')
}

.guist > .logo-container > .logo {
    font-size: 6rem;
    font-family: 'MuseoModerno', cursive;
}

/* globe report */
.globe-report > .thumbnail-image {
    background-image: url('../images/globe-report.jpg');
}

.globe-report > .logo-container {
    /* background-color:rgba(256,183,197,0.6); */
}

.globe-report > .logo-container > .logo {
    font-size: 3.5rem;
    color:#3a4267;
}

.logo > span > img {
    border-radius: 50%;
    border: 1px solid #3a4267;
    margin-bottom: -1px;
    width:2.2rem;
    height:auto;
}

.logo > span {
    margin-left:-14px;
}


/* overseer */
.overseer > .thumbnail-image {
    background-image: url('../images/overseer.png');
}

.overseer > .logo-container {
    /* background-color: rgba(255,255,255,0.6); */
}

.overseer > .logo-container > .logo {
    font-size: 4rem;
    /* color:black; */
    color:black;
    font-family: 'Audiowide', cursive;
}


/* nine five */
.nine-five > .thumbnail-image {
    background-image: url('../images/plush-design-studio.jpg');
}

.nine-five > .logo-container > .logo {
    font-size: 4rem;
    color:#3a4267;
}