:root {
    /* wieghts and measures */
    --width:200px;
    --border-width:3px;

    --height:calc(var(--width)/2);
    --trapeziem-height:calc(var(--height)/2);
    --trapeziem-width:calc(var(--trapeziem-height)*1.5);

    /* colour palette */
    --envelope-border-colour:#3a4267 ;
    --envelope-colour: #F0EAD6;
}
#contact-wrapper {
    position: absolute;
    width:fit-content;
    left:calc(100vw/2 - var(--width)/2);
    bottom:calc(var(--footer-height) + 20px);
}

#contact-wrapper > h3 {
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}

#envelope {
    position: relative;
    width:fit-content;
    cursor: pointer;
}

#envelope-lid, #email-form, #envelope-body {
    position: absolute;
}

/* ------------------------------------------------------------------------------ */
/* ------------------------------ ENVELOPE LID ---------------------------------- */
/* ------------------------------------------------------------------------------ */
#envelope-lid {
    height:auto;
    width:var(--width);
    text-align: center;
    margin: auto;
    transform-origin: top;
    transition: all 500ms ease-in-out;
}

#lid-triangle-body, #lid-triangle-border {
    margin: -3px auto 0  auto;
    display: block;
    position: relative;
    width: 0;
    height: 0;
    border-left: calc(var(--width)/2 - 10px) solid transparent;
    border-right: calc(var(--width)/2 - 10px) solid transparent;
    border-top: calc(var(--width)/3) solid var(--envelope-border-colour);
}

#lid-triangle-body{
    border-top-color: var(--envelope-colour);
    margin-top:calc(var(--width)* -1/3 - var(--border-width));
}

#lid-square {
    width:var(--width);
    height:30px;
    position:relative;
    background-color: var(--envelope-colour);
    border:var(--border-width) solid var(--envelope-border-colour);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* ------------------------------------------------------------------------------ */
/* ------------------------------ EMAIL FORM ------------------------------------ */
/* ------------------------------------------------------------------------------ */

#email-form {
    margin-left: calc(var(--width) * 0.025);
    width: calc(var(--width) * 0.95);
    transition: all 500ms ease-in-out;
    height: calc(var(--height));
}

#email-form:hover{
    cursor: default;
}

#submit-btn {
    text-align: center;
    margin: auto;
}

#fold-bottom, #fold-top {
    background-color: white;
    width:100%;
    height:calc(var(--height));
    padding:1rem 1rem 0 1rem;
}



#fold-bottom {
    transform-origin: top;
    padding-bottom: 1rem;
    border-top:1px solid rgba(125,125,125,0.2);
}

#name, #email {
    width:100%;
    height:auto;
    margin-top:0.5rem;
    padding:0.5rem;
    display: block;
    border: none;
    border-bottom: 1px solid var(--imperial-blue);
}

#name:focus, #email:focus {
    outline:none;
}

#name {
    margin-top:36px;
}

#message {
    background-image: url('../images/line.png');
    background-position: cover;
    background-attachment: local;
    line-height: 1.3rem;
    resize:none;
    overflow:scroll;
    height:100%;
    width:100%;
    padding:0 0.5rem;
    border:none;
    border-radius: none;
}
#message:focus {
    outline:none;
}


/* TODO size name, email and message inputs to respond at smaller screen sizes */
/* ideally we would have a section of the page that 'folds' open to double the effective size of the form */

/* ------------------------------------------------------------------------------ */
/* ----------------------------- ENVELOPE BODY ---------------------------------- */
/* ------------------------------------------------------------------------------ */

#envelope-body {
    width:var(--width);
    height:var(--height) ;
    position: relative;
    text-align: center;
    margin: auto;
    background-color: var(--envelope-colour);
}

#letter-back {
    width:var(--width);
    height:var(--height);
    background-color: var(--envelope-colour);
    border-left: var(--border-width) solid var(--envelope-border-colour);
    border-right: var(--border-width) solid var(--envelope-border-colour);
}

#trapezoid, #triangle-left, #triangle-right {
    position: absolute;
    bottom:0;
}

#trapezoid-body, #trapezoid-border {
    bottom:0;
    position: absolute;
    border-bottom: var(--trapeziem-height) solid var(--envelope-border-colour);
    border-left: var(--trapeziem-width)  solid transparent;
    border-right: var(--trapeziem-width) solid transparent;
    height: 0;
    width: var(--width);

}

#trapezoid-body {
    border-bottom-color: var(--envelope-colour);
    border-bottom-width: calc(var(--trapeziem-height) - var(--border-width)*2);
    bottom: var(--border-width);
    left: calc(var(--border-width)*2);
    width: calc(var(--width) - 2 * (var(--border-width)*2));
    border-left-width: calc(var(--trapeziem-width) - var(--border-width)*2);
    border-right-width: calc(var(--trapeziem-width) - var(--border-width)*2);
}

#triangle-left-border, #triangle-right-border, #triangle-left-body, #triangle-right-body {
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: var(--height) solid var(--envelope-border-colour);
    bottom:0;
}
#triangle-left {
    left:0;
}

#triangle-left-border, #triangle-left-body {
    border-right: calc(var(--height)*1.5) solid transparent;
}

#triangle-right {
    right:calc(var(--height)*1.5);
}

#triangle-right-border, #triangle-right-body {
    border-left: calc(var(--height)*1.5) solid transparent;
}

#triangle-left-body, #triangle-right-body {
    border-bottom:calc(var(--height) - var(--border-width)*2) solid var(--envelope-colour);
    margin-left:var(--border-width);
}

#triangle-left-body{
    border-right-width:calc(var(--height)*1.5 - var(--border-width)*2);
}

#triangle-right-body{
    border-left-width:calc(var(--height)*1.5 - var(--border-width)*2);
}


/* transition properties  */
.open {
    transform: rotateX(180deg);
}

.slide-up {
    transform: translateY(calc(var(--height)*-4/3));
}

.transition {
    transition: all 500ms linear;
}

.fold-up {
    transform: rotateX(180deg);
}

.z1 {z-index: 1;}
.z2 {z-index: 2;}
.z3 {z-index: 3;}
.z4 {z-index: 4;}

@media (min-width: 200px) { :root { --width:200px; } }
@media (min-width: 300px) { :root { --width:300px; } }
@media (min-width: 400px) { :root { --width:400px; } }
@media (min-width: 500px) {
    :root { --width:500px; }
    .slide-up { transform: translateY(calc(var(--height)*-2/3));}
    #name, #email { padding:1rem }
    #email-form { 
        height: calc(var(--height)*(2/3));
    } 
    #fold-bottom, #fold-top {
        height:calc(var(--height)*(2/3));
    }
}
@media (min-width: 600px) { :root { --width:600px; } }
@media (min-width: 768px) { :root { --width:600px; } }
@media (min-width: 992px) { :root { --width:600px; } }
@media (min-width: 1200px) { :root { --width:600px; } }