.name, .last-name, .title {
    margin: 0;
    padding:10px;
    font-family: 'Audiowide', cursive;
    color:#ffc107;
}

.name, .last-name {
    font-size: 2.5rem;
}

.last-name {
    margin-left:25%;
}

.name {
    margin-left: 40px;
    color:white;
}

.title {
    font-size:1.3rem;
}

.shade {
    position: relative;
    padding-top:40px;
    width:50%;
    height:100vh;
    background-color: rgba(0,0,0,0.6);
}

.shade-long {
    top:75%;
    left:10%;
    position: absolute;
    z-index: 1;
    width:fit-content;
    height:fit-content;
    background-color: rgba(0,0,0,0.6);
    padding:0px;
    border-radius: 15px;
}

#home {
    position: relative;
    top: 0;
    width:100%;
    height:auto;
    background-color: white;
    background-image: url(../images/Profile.JPG);
    background-size: cover;
    background-position: center;
}

@media (min-width: 600px) {
    .name, .last-name { font-size: 4.2rem; }
    .title { font-size:2.28rem; }
}