*, *:before, *:after {
    position: relative;
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

:root {
    /* weights and measures */
    /* page */
    --nav-height:50px;
    --footer-height:60px;
    --scrollbar-width:5px;

    /* components */
        /* thumbnail */
        --thumbnail-width:81vw;
        --thumbnail-height:calc(var(--thumbnail-width)*2/3);
        --thumbnail-transition:400ms;
        --thumbnail-margin-between: 5px;

    /* colour palette */
    --ivory-blue:#b5bfda;
    --light-leather-brown:#D2b584;
    --impact-yellow:#ffc107;
    --imperial-blue:#3a4267;
    --beige:beige;
}

html {
    margin:0;
    padding:0;
    height: fit-content;
}

body {
    margin:0;
    padding:0;
    position: relative;
    display: block;
    height: fit-content;
    font-family: 'Taviraj', serif;
    color:var(--imperial-blue);
    background-color: beige;
    overflow: overlay;

}

container {
    height:100%;
    display: block;
    position: relative;
    text-align: center;
    margin: 0 auto;
    width:90%;
}

section {
    position: relative;
    height:fit-content;
}


#home, #about, #projects, #contact {
    display: block;
    position: relative;
    width:100%;
    height:fit-content;
}

/* ---------------------------- home ------------------------------------ */
nav {
    background-color: transparent;
    position: sticky;
    top:0;
    z-index:2;
    height: var(--nav-height);
}
/* ------------------------------ about ---------------------------------- */
#about {
    margin-top: calc(var(--nav-height) * -1);
}

#about-wrapper {
    height: 85%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 2px solid var(--imperial-blue);
    border-top: none;
    margin-bottom: 75px;
}

#heading > h2 {
    padding-top: 10px;
    text-align: center;
    margin:0 auto;
}

.content-selector {
    width:150px;
    height:150px;
    /* positioning */
    position: absolute;
    bottom:0px;
    left: 50%;
    transform: translate(-50%,50%);
    -ms-transform: translate(-50%, 50%);
   
}

.inlay {
    overflow: hidden;
    position: absolute;
    /* size */
    width:100%;
    height:100%;
    /* border */
    border-radius: 50%;
    border:2px solid var(--imperial-blue);
    /* other */
    background-color: var(--ivory-blue);
}

.inlay > img {
    /* size */
    width:70%;
    height:auto;
    /* positioning */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%, -50%);
}

.arc-btn {
    position: absolute;
    width: 75%;
    height: 75%;
}
.arc-btn:hover {
    background-color: var(--ivory-blue);
}
.arc1 {
    top: 0;
    left: 0;
    background-color: transparent;
    border:2px solid var(--imperial-blue);
    border-radius: 100% 0 0 0;
    transform: translate(-33%, -32%);
    -ms-transform: translate(-33%, -32%);
}
.arc2 {
    top: 0;
    right: 0;
    background-color: transparent;
    border:2px solid var(--imperial-blue);
    border-radius: 0 100% 0 0;
    transform: translate(33%, -32%);
    -ms-transform: translate(33%, -32%);
}

.not-visible {
    display: none;
}

/* ---------------------------  projects --------------------------------- */
.project-thumbnails {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding:10px;
}

#projects > div > h3, h5, p {
    text-align: center;
    margin: 0 auto;
}

/* ----------------------------  Contact ------------------------------ */
#contact {
    background-color: var(--light-leather-brown);
    height: 100vw;
}

#contact > h3 {
    position: relative;
    text-align: center;
    margin:auto;
}
   
footer {
    display: flex;
    align-items: center;
    justify-content: start;
    position: absolute;
    width:100%;
    bottom:0;
    height:var(--footer-height);
    background-color:var(--ivory-blue) ;
}

footer > span {
    font-size: 1.1rem;
    margin-left: 5px;
}

.footer-logo{
    margin-left:5px;
    width:auto;
    height:60%;
}

a > img {
    max-width:100%;
    max-height:100%;
}

.hide-when-small {
    display: none;
}

@media (min-width: 400px) {
    .hide-when-small { display:inline-block }
}

@media (min-width: 600px) { 
    .footer-logo { height:80%; }
    footer > span { font-size: 1.5rem; }
    :root{ --thumbnail-width:40.5vw; }
    #contact { height:calc(100vh - 150px ); }
    container { width:85%; }
}

@media (min-width: 768px) {
    footer { justify-content:center; }
    :root { --thumbnail-width:40.5vw; }
    #contact { height:calc(100vh - 50px ); }
    container { width:85%; }
}

@media (min-width: 992px) {

    :root { --thumbnail-width:27vw; }
    #home, #about, #projects, #contact { height:100vh; }
    container { width:80%; }
    .arc1 {
        transform: translate(-33%, -31%);
        -ms-transform: translate(-33%, -31%);
    }
    .arc2 {
        transform: translate(33%, -31%);
        -ms-transform: translate(33%, -31%);
    }
}

@media (min-width: 1200px) {

    :root { --thumbnail-width:26vw; }
    #home, #about, #projects, #contact { height:100vh; }
}