:root {
    /* weights and measures */
    /* page */
    --nav-height:50px;
    --footer-height:60px;
    --scrollbar-width:5px;
    /* components */
        /* thumbnail */
        --thumbnail-width:25vw;
        --thumbnail-height:calc(var(--thumbnail-width)*2/3);
        --thumbnail-transition:400ms;
        --thumbnail-margin-between: 5px;

    /* colour palette */
    --ivory-blue:#b5bfda;
    --light-leather-brown:#D2b584;
    --impact-yellow:#ffc107;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    margin:0;
    padding:0;
    height: fit-content;
}

body {
    margin:0;
    padding:0;
    position: relative;
    display: block;
    height: fit-content;
    font-family: 'Taviraj', serif;
}

container {
    height:100%;
    display: block;
    position: relative;
    text-align: center;
    margin: 0 auto;
    width:95%;
    background-color: beige
}

section {
    position: relative;
    height:fit-content;
}


#home, #about, #projects, #contact {
    position: relative;
    width:100%;
    height:fit-content;
}

/* ---------------------------- home ------------------------------------ */
nav {
    background-color: transparent;
    position: sticky;
    top:0;
    z-index:2;
}
/* ------------------------------ about ---------------------------------- */
/* ---------------------------  projects --------------------------------- */
.project-thumbnail {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding:10px;
}

#projects {
    background-color: var(--light-leather-brown);
}

#projects > h3, h5, p {
    text-align: center;
    margin: 0 auto;
}

/* ----------------------------  Contact ------------------------------ */
#contact {
    background-color: var(--light-leather-brown);
}

#contact > h3 {
    position: relative;
    text-align: center;
    margin:auto;
}
   
footer {
    text-align: center;
    margin: auto;
    position: absolute;
    width:100%;
    bottom:0;
    height:var(--footer-height);
    background-color:var(--ivory-blue) ;
}


@media (min-width: 600px) { 

container {
    width:95%;
}

}


@media (min-width: 768px) {

container {
    width:95%;
}

}

@media (min-width: 992px) {

    #home, #about, #projects, #contact {
        height:100vh;
    }

    container {
        width:95%;
    }

}

@media (min-width: 1200px) {

    #home, #about, #projects, #contact {
        height:100vh;
    }

}