html{
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
}
dock {
    margin:0;
    padding:0;
    scroll-snap-align:none;
    scroll-snap-stop:normal;
    position: relative;
    display: block;
}

/* width */
::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

/* Track */
::-webkit-scrollbar-track-piece {
    background: transparent url('../images/scrollbar.png') repeat-y !important;
}

/* ::-webkit-scrollbar-track {
    background: var(--light-leather-brown); 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: black; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


@media (min-width: 992px) {

    dock {
        scroll-snap-align:start;
    }
    
}
