thumbnail {
    text-align: center;
    margin: 10px var(--thumbnail-margin-between);
    display: block;
    position: relative;
    width: var(--thumbnail-width);
    height: var(--thumbnail-height);
    overflow: hidden;
    border-radius: 15px;
  }

  .thumbnail-image {
    width:100%;
    height:100%;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all var(--thumbnail-transition) ease-in-out;
  }

  .logo-container, .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    transition: all var(--thumbnail-transition) ease-in-out;
  } 

  .logo, .thumbnail-info  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .logo-container {
    background-color: rgba(245,245,220,0.5);
  }

  .logo {
    z-index:1;
    transition: all var(--thumbnail-transition) ease-in-out;
    height: auto;
    width: 100%;
  }

  .overlay {
    opacity: 0;
    background-color: var(--light-leather-brown);
  }
  
  .thumbnail-info {
    margin-top:20%;
    height:100%;
    width:100%;
    color: var(--imperial-blue);
    font-size: calc(var(--thumbnail-height)/11);
    padding:0 0.5rem;
  }

  .thumbnail-info > a {
    text-align: center;
    margin-left:auto;
    margin-right:auto;
  }

  thumbnail:hover .overlay {
    opacity: 1;
  }

  thumbnail:hover .logo-container {
    background-color: transparent;
  }

  thumbnail:hover .thumbnail-image {
    transform: scale(1.5);
  }

  thumbnail:hover .logo {
    top:18%;
    transform: translate(-50%, -50%) scale(0.6);
    -ms-transform: translate(-50%, -50%) scale(0.6);
  }
